---
interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title = "Society 5IVE – Interior Design",
  description = "Society 5IVE is a purpose-driven interior design studio crafting timeless, sustainable spaces rooted in authenticity and collaboration.",
  image = ""
} = Astro.props as Props;

const base = import.meta.env.SITE || "";
const canonicalUrl = base ? new URL(Astro.url.pathname, base).href : "";
---

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <meta name="description" content={description} />

  <!-- Open Graph / Social Tags -->
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  {canonicalUrl && <meta property="og:url" content={canonicalUrl} />}
  {image && <meta property="og:image" content={image} />}
  <meta property="og:type" content="website" />

  <!-- Security Headers -->
  <meta http-equiv="X-Frame-Options" content="DENY" />
  <meta http-equiv="X-XSS-Protection" content="1; mode=block" />
<meta http-equiv="Content-Security-Policy" content="
  default-src 'self';
  script-src  'self' 'unsafe-inline';
  style-src   'self' 'unsafe-inline';
  img-src     'self' data:;
  connect-src 'self';
  font-src    'self' data:;
  frame-src   'self' https://open.spotify.com;
">

  <!-- Fonts -->
   <link
  rel="preload"
  href="/fonts/GoldenHopes.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
  />
  <link
  rel="preload"
  href="/fonts/OpenSans-VariableFont_wdth,wght.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
  />
  <link
  rel="preload"
  href="/fonts/OpenSans-Italic-VariableFont_wdth,wght.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
  />

  <!-- Styles -->
  <link rel="stylesheet" href="/styles/fonts.css" />
  <link rel="stylesheet" href="/styles/root.css" />
  <link rel="stylesheet" href="/styles/main.css" />

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
