---
export interface Props {
  title: string;
  summary: string;
  image: string;
  link: string;
  alt?: string;
}

const { title, summary, image, link, alt = "Blog image" } = Astro.props;
---

<article class="blog-card">
  <a href={link} class="blog-link">
    <img src={image} alt={alt} class="blog-img" loading="lazy" />
    <div class="blog-content">
      <h3 class="blog-title">{title}</h3>
      <p class="blog-summary">{summary}</p>
      <div class="blog-cta">
        <span class="blog-read">Read the Post</span>
      </div>
    </div>
  </a>
</article>

<style>
.blog-card {
  background-color: var(--whitesands-100);
  border-radius: var(--radius-lg);
  overflow: hidden;
  box-shadow: var(--shadow-md);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 30rem;
  min-height: 100%;
}

.blog-card:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08);
}

.blog-link {
  text-decoration: none;
  font-family: var(--font-primary);
  color: var(--plumb-500);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blog-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

.blog-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.blog-title {
  font-family: var(--font-primary);
  font-size: var(--fs-body);
  font-weight: 800;
  color: var(--agave-500);
  margin: 0 0 0.5rem 0;
}

.blog-summary {
  font-size: var(--fs-bodysm);
  color: var(--gray-500);
  line-height: 1.5;
  flex-grow: 1;
  margin-bottom: 1.5rem;
}

.blog-cta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--plumb-500);
  font-weight: 600;
  font-size: var(--fs-body);
  transition: all 0.3s ease;
}

.blog-card:hover .blog-cta {
  color: var(--agave-500);
  transition: all 0.3s ease;
}
</style>